.boton_paginador {
    border: 2px solid;
    border: white;
    background-color: #2fdca2;
    color: black;
    font-size: 15px;
    border-radius: 40px;
}

.boton_paginador:active {
    background-color: black;
    color: white;
}

.boton_paginador:hover:not(.active) {
    background-color: rgb(250, 244, 244);
}

.div_paginador {
    display: flex;
    justify-content: center;
    padding: 40px;
}