.Card-contenedor {
    position:relative;
    display: column;
    flex-direction: column;
    justify-content: center;
    place-content: center;
    place-items: center;
    overflow: hidden;
    background: var(--background_card);
    border-radius: 12px;
    box-shadow: var(--box_shadow_card);
    
}
.Titulo-Container{
    font-size: 1rem;
    font-weight: bold;
    color: rgb(227, 240, 245);
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
}


.Info-Contenedor {
    display: column;
    flex: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: rgb(227, 240, 245);
}

.Imagen {
    height: 145px;
    width: 180px;
    border-radius: 40px;
    margin: 9px;
    padding-top: 3px;
}

.Imagen:hover {
    transform: scale(1.1);
}

